@model Consultation
@{
    ViewBag.Title = "Замовити консультацію";
}

<div class="container">
    <div class="row justify-content-left mt-4">
        <div class="col-md-6">
            <h2 class="mt-4">Замовити консультацію</h2>
            <form method="post" asp-action="CreateConsultation" class="form">
                <div class="form-group">
                    <label asp-for="Name">Ваше ім'я</label>
                    <input type="text" asp-for="Name" class="form-control" required>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Email">Ваша електронна пошта</label>
                    <input type="email" asp-for="Email" class="form-control" required>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="DateOfConsultation">Бажана дата консультації</label>
                    <input type="date" asp-for="DateOfConsultation" class="form-control" required>
                    <span asp-validation-for="DateOfConsultation" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Subject">Предмет</label>
                    <select asp-for="Subject" asp-items="ViewBag.Subjects" class="form-control" required>
                        <option value="">Виберіть предмет</option>
                    </select>
                    <span asp-validation-for="Subject" class="text-danger" ></span>
                </div>
                <button type="submit" class="btn btn-primary mt-4">Забронювати</button>
            </form>
        </div>
    </div>
</div>
